.form {
    position: relative;
    background: #fff;
    border-radius: 10px;
    max-width: 550px;
    margin: 0 auto 100px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form-input {
    outline: 0;
    border-radius: 10px;
    background: #e2e1e0;
    border: 0;
    margin: 20px;
    padding: 20px;
}

.form-button {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    margin: 0 auto 50px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background: #AABDA0;
    padding: 20px;
    color: rgb(85, 83, 84);
    cursor: pointer;
}