html(lang="en")
	head
		link(rel="stylesheet" href="/css/home.css")
		
	body 
		include ../partials/header 
		#root
			.grids
				.circles-bottom
					.dark-yellow-circle
					.dark-green-circle
				.circles-top
					.light-green-circle
						.light-yellow-circle
				.side 
				.center 
					.box
						.message
							h1 Welcome to the 
							h1 Restaurant Database 
							br
							br
							h3 Login and start ordering food!
				.side 
				
		include ../partials/footer