html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/css/order.css")
		script(src='../js/orderform.js' defer)
		title Orderform
	body(onload="init()")
		include ../partials/header 
		br
		select(id="restaurant-select")
		br
		br
		div(id="info")
		div(id="main")
			div(class="column left" id="left")
			div(class="column middle" id="middle")
			div(class="column right" id="right")
