html(lang="en")
	head
		link(rel="stylesheet" href="/css/login.css")
		script(src='./js/register.js' defer)
		title Sign Up
	body 
		include ../partials/header 
		br
		br
		div(class='form')
			h3 Sign up
			input(id="username-input" class="form-input" type="text" name="name" placeholder="Enter username")
			input(id="password-input" class="form-input" type="text" name="pass" placeholder="Enter password")
			br
			br
			div(id="submit" class="form-button") Sign Up
			p Already have an account? 
				a(href="/login") Sign in
			div(id="message")
